<div class="container">
  <form class="font-weight-bold">
    <div class="form-row"> <!--line 1-->
      <div class="col-md-3 mb-3"> <!--Nota Fical-->
        <label class="col-sm-6 control-label" for="notafistal">Nota Fiscal</label>
        <input type="text" class="form-control" id="notafiscal" placeholder="Nº NF">
      </div>
      <div class="col-md-3 mb-3"><!--Data de recebimento-->
        <label class="col-sm-9 control-label" for="dtReceb">Data de recebimento</label>
        <input type="date" class="form-control" id="dtReceb" placeholder="00/00/0000">
      </div>
      <div class="col-md-6 mb-3"><!--ESPAÇO-->
      <label class="col-sm-4 control-label" for="dtReceb"></label>
        <div class=""></div>
      </div>
    </div>

    <div class="form-row"> <!--line 2-->
      <div class="col-md-3 mb-3"> <!--OC1-->
        <label class="col-sm-4 control-label" for="oc1">1ª OC</label>
        <input type="text" class="form-control" id="oc1"  placeholder="Nº da OC">
      </div>
      <div class="col-md-3 mb-3"> <!--OC2-->
        <label class="col-sm-4 control-label" for="oc2">2ª OC</label>
        <input type="text" class="form-control" id="oc2" placeholder="Nº da OC">
      </div>
      <div class="col-md-3 mb-3"> <!--OC3-->
        <label class="col-sm-4 control-label" for="oc3">3ª OC</label>
        <input type="text" class="form-control" id="oc3" placeholder="Nº da OC">
      </div>
    </div>

    <div class="form-row"> <!--line 3-->
      <div class="col-md-3 mb-3"> <!--fornecedor-->
        <label class="col-sm-4 control-label" for="fornecedor">Fornecedor</label>
        <input type="text" class="form-control" id="fornecedor" placeholder="Nome do fornecedor">
      </div>
      <div class="col-md-3 mb-3"> <!--comprador-->
        <label class="col-sm-4 control-label" for="comprador">Comprador</label>
        <input type="text" class="form-control" id="comprador" placeholder="Nome do Comprador">
      </div>
      <div class="col-md-3 mb-3"> <!--1º conferente-->
        <label class="col-sm-6 control-label" for="conferente1">1º Conferente</label>
        <select class="form-control">
          <option> - </option>
          <option>Guilherme Castro</option>
          <option>Marcos Vinicius</option>
          <option>Fábio</option>
          <option>Ivan Cubatao</option>
        </select>
      </div>
      <div class="col-md-3 mb-3"> <!--2º conferente-->
        <label class="col-sm-6 control-label" for="conferente2">2º Conferente</label>
        <select class="form-control">
          <option> - </option>
          <option>Guilherme Castro</option>
          <option>Marcos Vinicius</option>
          <option>Fábio</option>
          <option>Ivan Cubatao</option>
        </select>
      </div>
    </div>

    <div class="form-row"> <!--line 5-->
      <div class="col-md-3 mb-3"> <!--apresentação correta-->
        <label class="col-sm-10 control-label" for="apresCorreta">Apresentação correta?</label>
        <select class="form-control">
          <option> - </option>
          <option>SIM</option>
          <option>NÃO</option>
        </select>
      </div>
      <div class="col-md-3 mb-3"> <!--validade correta-->
        <label class="col-sm-10 control-label" for="validCorreta">Validade correta?</label>
        <select class="form-control">
          <option> - </option>
          <option>SIM</option>
          <option>NÃO</option>
        </select>
      </div>
      <div class="col-md-3 mb-3"> <!--temperatura correta-->
        <label class="col-sm-10 control-label" for="tempCorreta">Temperatura correta?</label>
        <select class="form-control">
          <option> - </option>
          <option>SIM</option>
          <option>NÃO</option>
        </select>
      </div>
      <div class="col-md-3 mb-3"> <!--lote correto-->
        <label class="col-sm-10 control-label" for="loteCorreto">Lote correto?</label>
        <select class="form-control">
          <option> - </option>
          <option>SIM</option>
          <option>NÃO</option>
        </select>
      </div>
    </div>

    <div class="form-row"> <!--line 6-->
      <div class="col-md-3 mb-3"> <!--produto conservado-->
        <label class="col-sm-10 control-label" for="prodConservado">Produto conservado?</label>
        <select class="form-control">
          <option> - </option>
          <option>SIM</option>
          <option>NÃO</option>
        </select>
      </div>
      <div class="col-md-3 mb-3"> <!--concentração correta-->
        <label class="col-sm-10 control-label" for="concCorreta">Concentração correta?</label>
        <select class="form-control">
          <option> - </option>
          <option>SIM</option>
          <option>NÃO</option>
        </select>
      </div>
      <div class="col-md-3 mb-3"> <!--quantidade divergente-->
        <label class="col-sm-10 control-label" for="qtdDivergente">Qtd. divergente?</label>
        <select class="form-control">
          <option> - </option>
          <option>SIM</option>
          <option>NÃO</option>
        </select>
      </div>
      <div class="col-md-3 mb-3"> <!--valor divergente-->
        <label class="col-sm-10 control-label" for="valorDivergente">Valor divergente?</label>
        <select class="form-control">
          <option> - </option>
          <option>SIM</option>
          <option>NÃO</option>
        </select>
      </div>
    </div>

    <div class="form-row"> <!--line 7-->
      <div class="col-md-3 mb-3"> <!--produto controlado-->
        <label class="col-sm-10 control-label" for="prodContorlado">Produto controlado?</label>
        <select class="form-control">
          <option> - </option>
          <option>SIM</option>
          <option>NÃO</option>
        </select>
      </div>
      <div class="col-md-3 mb-3"> <!--produto termolabil-->
        <label class="col-sm-10 control-label" for="prodTermolabil">Produto termolábil?</label>
        <select class="form-control">
          <option> - </option>
          <option>SIM</option>
          <option>NÃO</option>
        </select>
      </div>
      <div class="col-md-3 mb-3"> <!--status-->
        <label class="col-sm-10 control-label" for="status">Status</label>
        <select class="form-control">
          <option> - </option>
          <option>DEVOLVIDO</option>
          <option>OK</option>
          <option>PENDENTE</option>
        </select>
      </div>
      <div class="col-md-3 mb-3"> <!--nao conformidade-->
        <label class="col-sm-10 control-label" for="nconformidade">Não confirmidades</label>
        <select class="form-control">
          <option> - </option>
          <option>ANTECIPACAO DO FORNECEDOR</option>
          <option>COMPRA EQUIVOCADA</option>
          <option>DIVERGENCIA NF X FISICO</option>
          <option>DIVERGENCIA O.C.</option>
          <option>DUPLICIDADE DE NOTA FISCAL</option>
          <option>PRODUTOS DANIFICADOS</option>
          <option>SEM CUBAGEM</option>
          <option>SEM NÃO CONFORMIDADES</option>
          <option>SEM O.C.</option>
          <option>TEMPERATURA INCORRETA</option>
          <option>VALIDADE FORA DA POLITICA</option>
        </select>
      </div>
    </div>

  </form>
  <button type="button" class="btn btn-primary btn-lg">Enviar</button>
  <button type="button" class="btn btn-outline-danger btn-lg">Limpar</button>
</div>
<router-outlet></router-outlet>
<!--<div class="container2">
  <router-outlet></router-outlet>
</div>-->
